@model IEnumerable<WebCoreMvcFromScratch.Models.Stock>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>This is where the app starts</div>
    <a href="/stock/index">stocks</a>
    <a asp-controller="stock" asp-action="index">Stocks</a>
</body>
</html>
