@model WebCoreMvcFromScratch.ViewModels.StockViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Code</th>
            <th>Price</th>
        </tr>
        @foreach(var s in Model.Stocks)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
                <td>@s.Code</td>
                <td>@s.Price</td>
            </tr>
        }
    </table>
</body>
</html>
