@model IEnumerable<WebCoreMvcFromScratch.Models.Stock>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        
        @foreach(var s in Model)
        {
            <tr>
                <td>s.</td>
            </tr>
        }
    </table>
</body>
</html>
