@model StocksListViewModel

@{
    ViewBag.Title = "Stocks";
}

<table>
    <tr>
        <th>Id</th>
        <th>Price</th>
        <th>Unit</th>
        <th>Last trade time</th>
    </tr>
    @foreach (var s in Model.Stocks)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Price</td>
            <td>@s.Unit</td>
            <td>@s.LastTradeTime</td>
        </tr>
    }
</table>

<a asp-action="Index" asp-controller="home">Home</a>

